@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    font-size: 18px;
    --bright-blue: hsl(220, 98%, 61%);
    --background: white;
    --text-color-input: hsl(235, 19%, 35%);
    --text-background-list: white;
    --circle: hsl(236, 33%, 92%);
    --circle-hover: hsl(220,98%,61%);
    --footer: hsl(236, 9%, 61%);
    --footer-hover: hsl(235, 19%, 35%);
    --list-bottom-border: hsl(233, 11%, 84%);
    --list-item-checked: hsl(233, 11%, 84%);
    --placeholder: hsl(236, 9%, 61%);
}
.dark {
    --background: hsl(235,21%,11%);
    --text-color-input: hsl(234,39%,85%);
    --text-background-list: hsl(235, 24%, 19%);
    --circle-hover: hsl(236, 33%, 92%);
    --list-bottom-border: hsl(233,14%,35%);
    --circle: hsl(237, 14%, 26%);
    --list-item-checked: hsl(233,14%,35%);
    --footer: hsl(234,11%,52%);
    --footer-hover: hsl(234,39%,85%);
    --placeholder: hsl(234, 11%, 52%);
}
html, body {
    font-family: 'Josefin Sans',sans-serif;
    margin: 0;
    padding: 0;
}

.page{
    width: 100vw;
    height: 100vh;
}

.main{
    height:100%;
    width:100%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }