@page "/"

<div class="container">
    <div class="heading">
        <span>TODO</span>  
        <img src="images/icon-moon.svg" alt="moon-icon"/>
    </div>
    <div class="input">
        <input placeholder="Create a new Todo..." type="text" @bind="newTodo" @onkeyup = "Enter"/>
        <i class="far fa-circle" id="circle"></i>
        <i class="fas fa-check" id="check" @onclick = "AddTodo"></i>
    </div>

    <ul>
        @foreach (var todo in todos)
        {
            <li>
                <input type="checkbox" @bind="todo.IsDone">
                <input @bind="todo.Title">
            </li>
        }
    </ul>
</div>

    
@code {
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;
    private void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem{ Title = newTodo });
            newTodo = string.Empty;
        }
    }
    private void Enter(KeyboardEventArgs eventArgs)
    {
        if(eventArgs.Code == "Enter" || eventArgs.Code == "NumpadEnter")
        {
            this.AddTodo();
        }
    }
}
