@page "/"

<div class="container">
    <div class="heading">
        <span>TODO</span>  
        <img src="images/icon-moon.svg" alt="moon-icon"/>
    </div>
    <div class="input">
        <input placeholder="Create a new Todo..." type="text" @bind="newTodo" @onkeyup = "Enter"/>
        <div class="circle"></div>
        <i class="fas fa-plus" id="add" @onclick = "AddTodo"></i>
    </div>
    <div class="content">
        @foreach (var todoItem in todos)
        {
            <DisplayTodo todoItem = "todoItem" OnItemDeleted = "@deleteItem" OnItemSelected = "@markDone">

            </DisplayTodo>
        }
    </div>
    <div class="footer">
        <span id = "items-left">@todos.Count(p => !p.IsDone) items left</span>
        <div class="states">
            <span>All</span>
            <span>Active</span>
            <span>Completed</span>
        </div>
        <span id = "clear">Clear Completed</span>
    </div>
</div>

    
@code {
    private List<TodoItem> todos = new List<TodoItem>();
    private string newTodo;
    private void AddTodo()
    {
        if(!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem{ Title = newTodo });
            newTodo = string.Empty;
        }
    }
    private void Enter(KeyboardEventArgs eventArgs)
    {
        if(eventArgs.Code == "Enter" || eventArgs.Code == "NumpadEnter")
        {
            this.AddTodo();
        }
    }
    private void deleteItem(int Id)
    {
        todos.Remove(todos.Find(p => p.Id == Id));
    }
    private void markDone(int id)
    {
        todos.Find(p => p.Id == id).IsDone = !todos.Find(p => p.Id == id).IsDone;
    }
}
