li{
    list-style-type: none;
}
.main-page {
    height: 100%;
    width: 100%;
    background: url("/images/bg-desktop-light.jpg") no-repeat;
    display: flex;
    justify-content: center;
    transition: background 500ms ease;
}
.dark{
    background: url("/images/bg-desktop-dark.jpg") no-repeat var(--background);
}
.container{
    width: 540px;
    padding: 80px 0 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    place-items: center;
    place-content: space-between;
    padding: 10px;
    margin-bottom: 35px;
}
.heading span{
    font-size: 34px;
    font-weight: bold;
    color: white;
    letter-spacing: 10px;
}
.img-theme {
    content: url("/images/icon-moon.svg");
    cursor:pointer;
}
.dark .img-theme {
    content: url("images/icon-sun.svg");
}
.input{
    position: relative;
    align-items: center;
    height: 65px;
    display: flex;
    border-radius: 10px;
    outline: none;
}
input[type=text]{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    font-family: 'Josefin Sans', sans-serif;
    background-color:var(--text-background-list);
    color:var(--text-color-input);
    font-size: 20px;
    padding-left: 64px;
    padding-right: 64px;
    border-radius: 10px;
    border: none;
    outline: none;
}
input[type=text]::placeholder{
    color:var(--placeholder);
}
input:focus{
    caret-color: var(--bright-blue);
}

.circle{
    border: 1px solid var(--circle);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-left: 20px;
    position: absolute;
}
#add{
    color: rgb(179, 174, 174);
    font-size: 24px;
    position: absolute;
    right: 20px;
    transition: 0.2s ease;
}
#add:hover{
    cursor:pointer;
    color: var(--bright-blue);
}
.footer{
    background-color: var(--text-background-list);
    border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    height: 50px;
    align-items: center;
    width: 100%;
    box-shadow: 6px 12px 11px -6px rgba(0,0,0,0.3),-6px 12px 11px -6px rgba(0,0,0,0.3); ;
    z-index: 1;
    font-size: 14px;
    color: var(--footer);
}
.states{
    display: flex;
    place-content: space-evenly;
    font-weight: 700;
}
.states span{
    transition: 0.1s;
}
.states span:hover{
    cursor: pointer;
    color: var(--footer-hover);
}
    .states span.active {
        color:var(--bright-blue);
    }
#items-left,#clear{
    text-align: center;
    transition: 0.2s;
}
#clear:hover{
    color: var(--footer-hover);
    cursor: pointer;
}
.content{
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow-y: scroll;
}
    .content::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: var(--text-background-list);
       
    }

    .content::-webkit-scrollbar {
        width: 3px;
        background-color: var(--text-background-list);
    }

.content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: var(--text-background-list);
}