
<div class="displayTodo">
    <input type="checkbox" checked = "@todoItem.IsDone" @onchange = "setDone" id="@todoItem.Id">
    <label for="@todoItem.Id" class="title">@todoItem.Title</label>
    <img src="images/icon-cross.svg" class="cross" @onclick="removeItem"> 
</div>

@code {
    [Parameter]
    public TodoItem todoItem { get; set; }
    [Parameter]
    public EventCallback<int> OnItemDeleted { get; set; }
    [Parameter]
    public EventCallback<int> OnItemSelected{ get; set; }
    
    private async Task setDone(ChangeEventArgs eventArgs)
    {
        await OnItemSelected.InvokeAsync(todoItem.Id);
    }
    private async Task removeItem()
    {
        await OnItemDeleted.InvokeAsync(todoItem.Id);
    }
}
