<div class="displayTodo">
    <input disabled draggable="true" class="title" @bind = "todoItem.Title">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-times"></i>
</div>

@code {
    [Parameter]
    public TodoItem todoItem { get; set; }
}