.displayTodo{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
}

.title{
    background-color: white;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    padding-left: 64px;
    padding-right: 64px;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 20px;
    color:  hsl(235, 19%, 35%);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:1px solid hsl(233, 11%, 84%)
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label::before{
    content: url("images/icon-check.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(236, 33%, 92%);
    position: absolute;
    left: 20px;
    top: 22px;
    border-radius: 50%;
    cursor: pointer;
}
input[type=checkbox] + label:hover::before{
    border:1px solid hsl(220, 98%, 61%);
}
input[type=checkbox]:checked + label::before{
    background: linear-gradient(to right,hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}
input[type=checkbox]:checked + label{
    color: hsl(233, 11%, 84%);
    text-decoration: line-through;
}
.cross{
    color: rgb(179, 174, 174);
    font-size: 24px;
    position: absolute;
    right: 20px;
    transition: 0.2s ease;
    display: none;
}
.title:hover{
    cursor: pointer;
}
.cross:hover{
    display: inline;
    cursor: pointer;
}
.title:hover ~.cross{
    display: block;
}
.displayTodo:first-child input{
    border-radius: 10px 10px 0 0;
}