
<div class="displayTodo" draggable="true" @ondragstart="dragstart" @ondrop = "dragend">
    <input type="checkbox" checked = "@todoItem.IsDone" @onchange = "setDone" id="@todoItem.Id">
    <label for="@todoItem.Id" class="title">@todoItem.Title</label>
    <img src="images/icon-cross.svg" class="cross" @onclick="removeItem"> 
</div>

@code {
    [Parameter]
    public TodoItem todoItem { get; set; }
    [Parameter]
    public EventCallback<int> OnItemDeleted { get; set; }
    [Parameter]
    public EventCallback<int> OnItemSelected{ get; set; }
    [Parameter]
    public EventCallback<int> OnDragStart {get;set;}
    [Parameter]
    public EventCallback<int> OnDragEnd { get; set; }
    private async Task setDone()
    {
        await OnItemSelected.InvokeAsync(todoItem.Id);
    }
    private async Task removeItem()
    {
        await OnItemDeleted.InvokeAsync(todoItem.Id);
    }
    private async Task dragstart()
    {
        await OnDragStart.InvokeAsync(todoItem.Id);
    }
    private async Task dragend()
    {
        await OnDragEnd.InvokeAsync(todoItem.Id);
    }
}
