<div class="displayTodo">
    <input disabled draggable="true" class="title" @bind = "todoItem.Title">
    <div class="circle" @onclick="setDone">
        <img src="images/icon-check.svg" class="check">
    </div>
     <img src="images/icon-cross.svg" class="cross"> 
</div>

@code {
    [Parameter]
    public TodoItem todoItem { get; set; }
    [Parameter]
    public EventCallback<TodoItem> OnItemDeleted { get; set; }
    private void setDone()
    {
        
    }
}